Testing the API

In [4]:
#| label: import
from urllib.request import urlopen
import pandas as pd
import json
from datetime import datetime

# Sessions

It looks like each Grand Prix has a 5 associated sessions: Practice 1-3, Qualifying, and then the Race

meeting_key and the meeting query will give you all the races associated with that race weekend.

session_key, meeting_key, and driver_number are going to be the most important for looking across responses

In [7]:
response = urlopen('https://api.openf1.org/v1/sessions?year=2024')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
df.head(10)

HTTPError: HTTP Error 500: Internal Server Error

In [15]:
format_string = "%Y-%m-%d %H:%M:%S"
df['date_end'] = pd.to_datetime(df['date_end'])
df['date_start'] = pd.to_datetime(df['date_start'])
df['duration'] = df['date_end'] - df['date_start']
df.head(10)

,session_key,session_name,date_start,date_end,gmt_offset,session_type,meeting_key,location,country_key,country_code,country_name,circuit_key,circuit_short_name,year,duration
0,9465,Practice 1,2024-02-29 11:30:00+00:00,2024-02-29 12:30:00+00:00,03:00:00,Practice,1229,Sakhir,36,BRN,Bahrain,63,Sakhir,2024,0 days 01:00:00
1,9466,Practice 2,2024-02-29 15:00:00+00:00,2024-02-29 16:00:00+00:00,03:00:00,Practice,1229,Sakhir,36,BRN,Bahrain,63,Sakhir,2024,0 days 01:00:00
2,9467,Practice 3,2024-03-01 12:30:00+00:00,2024-03-01 13:30:00+00:00,03:00:00,Practice,1229,Sakhir,36,BRN,Bahrain,63,Sakhir,2024,0 days 01:00:00
3,9468,Qualifying,2024-03-01 16:00:00+00:00,2024-03-01 17:00:00+00:00,03:00:00,Qualifying,1229,Sakhir,36,BRN,Bahrain,63,Sakhir,2024,0 days 01:00:00
4,9472,Race,2024-03-02 15:00:00+00:00,2024-03-02 17:00:00+00:00,03:00:00,Race,1229,Sakhir,36,BRN,Bahrain,63,Sakhir,2024,0 days 02:00:00
5,9473,Practice 1,2024-03-07 13:30:00+00:00,2024-03-07 14:30:00+00:00,03:00:00,Practice,1230,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2024,0 days 01:00:00
6,9474,Practice 2,2024-03-07 17:00:00+00:00,2024-03-07 18:00:00+00:00,03:00:00,Practice,1230,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2024,0 days 01:00:00
7,9475,Practice 3,2024-03-08 13:30:00+00:00,2024-03-08 14:30:00+00:00,03:00:00,Practice,1230,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2024,0 days 01:00:00
8,9476,Qualifying,2024-03-08 17:00:00+00:00,2024-03-08 18:00:00+00:00,03:00:00,Qualifying,1230,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2024,0 days 01:00:00
9,9480,Race,2024-03-09 17:00:00+00:00,2024-03-09 19:00:00+00:00,03:00:00,Race,1230,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2024,0 days 02:00:00

The session numbers are chronological for the practice and qualifying, but not for the actual Race.

# Drivers
Looking at the drivers for a specific session (2024 Bahrain Grand Prix)

In [6]:
response = urlopen('https://api.openf1.org/v1/drivers?session_key=9472')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
df.head(10)

,session_key,meeting_key,broadcast_name,country_code,first_name,full_name,headshot_url,last_name,driver_number,team_colour,team_name,name_acronym
0,9472,1229,M VERSTAPPEN,NED,Max,Max VERSTAPPEN,https://media.formula1.com/d_driver_fallback_i...,Verstappen,1,3671C6,Red Bull Racing,VER
1,9472,1229,L SARGEANT,USA,Logan,Logan SARGEANT,https://media.formula1.com/d_driver_fallback_i...,Sargeant,2,64C4FF,Williams,SAR
2,9472,1229,D RICCIARDO,AUS,Daniel,Daniel RICCIARDO,https://media.formula1.com/d_driver_fallback_i...,Ricciardo,3,6692FF,RB,RIC
3,9472,1229,L NORRIS,GBR,Lando,Lando NORRIS,https://media.formula1.com/d_driver_fallback_i...,Norris,4,FF8000,McLaren,NOR
4,9472,1229,P GASLY,FRA,Pierre,Pierre GASLY,https://media.formula1.com/d_driver_fallback_i...,Gasly,10,FF87BC,Alpine,GAS
5,9472,1229,S PEREZ,MEX,Sergio,Sergio PEREZ,https://media.formula1.com/d_driver_fallback_i...,Perez,11,3671C6,Red Bull Racing,PER
6,9472,1229,F ALONSO,ESP,Fernando,Fernando ALONSO,https://media.formula1.com/d_driver_fallback_i...,Alonso,14,229971,Aston Martin,ALO
7,9472,1229,C LECLERC,MON,Charles,Charles LECLERC,https://media.formula1.com/d_driver_fallback_i...,Leclerc,16,E8002D,Ferrari,LEC
8,9472,1229,L STROLL,CAN,Lance,Lance STROLL,https://media.formula1.com/d_driver_fallback_i...,Stroll,18,229971,Aston Martin,STR
9,9472,1229,K MAGNUSSEN,DEN,Kevin,Kevin MAGNUSSEN,https://media.formula1.com/d_driver_fallback_i...,Magnussen,20,B6BABD,Haas F1 Team,MAG

# Practice Round Info

Looking at what sort of information we can get from practice rounds

## Stints

In [22]:
response = urlopen('https://api.openf1.org/v1/stints?driver_number=16&session_key=9467')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
df.head(10)

,meeting_key,session_key,stint_number,driver_number,lap_start,lap_end,compound,tyre_age_at_start
0,1229,9467,1,16,1,4,SOFT,0
1,1229,9467,2,16,5,7,SOFT,3
2,1229,9467,3,16,8,12,SOFT,6
3,1229,9467,4,16,13,18,SOFT,0

Stints gives us how long they used a set of tires.

## Laps

In [80]:
response = urlopen('https://api.openf1.org/v1/laps?driver_number=16&session_key=9467')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
print(len(df))
df.tail(10)

17

,meeting_key,session_key,driver_number,i1_speed,i2_speed,st_speed,date_start,lap_duration,is_pit_out_lap,duration_sector_1,duration_sector_2,duration_sector_3,segments_sector_1,segments_sector_2,segments_sector_3,lap_number
7,1229,9467,16,239,268,308,2024-03-01T13:07:44.784000+00:00,92.693,False,29.782,39.886,23.025,"[2048, 2048, 2048, 2049, 2048, 2048, 2048, 204...","[2048, 2048, 2049, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",8
8,1229,9467,16,163,132,177,2024-03-01T13:09:17.388000+00:00,146.232,False,46.550,66.994,32.688,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",9
9,1229,9467,16,208,231,306,2024-03-01T13:11:43.604000+00:00,100.083,False,33.384,43.014,23.685,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[0, 0, 0, 0, 0, 0, 0]",10
10,1229,9467,16,238,268,308,2024-03-01T13:13:23.710000+00:00,95.286,False,29.686,40.139,25.461,"[None, 2048, 2048, 2048, 2049, 2049, 2048, 204...","[2049, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",11
11,1229,9467,16,180,185,120,2024-03-01T13:23:36.999000+00:00,638.916,True,558.401,53.524,26.991,"[2064, 2064, 2064, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2049, 2049, 2049, 2048, 2048, 2048, 0]",12
12,1229,9467,16,240,271,313,2024-03-01T13:25:37.962000+00:00,91.094,False,29.437,38.930,22.727,"[2049, 2049, 2049, 2051, 2049, 2049, 2048, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2048, 2048, 2048, 2048, 2048, 2049, 2048]",13
13,1229,9467,16,147,135,228,2024-03-01T13:27:08.962000+00:00,144.202,False,50.170,60.172,33.860,"[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2049, 2048]",14
14,1229,9467,16,240,272,315,2024-03-01T13:29:33.252000+00:00,91.337,False,29.447,39.105,22.785,"[2049, 2049, 2049, 2048, 2048, 2049, 2049, 204...","[2049, 2049, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",15
15,1229,9467,16,164,171,242,2024-03-01T13:31:04.598000+00:00,131.299,False,39.057,53.779,38.463,"[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2064]",16
16,1229,9467,16,211,206,269,2024-03-01T13:33:16.112000+00:00,134.944,False,62.726,44.944,27.274,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",[],17

In [ ]:
# minimum lap duration 
print(df['lap_duration'].min())

91.094

## Qualifying

Now looking at the minimum lap_duration and number of stints for the qualifying round.

In [29]:
response = urlopen('https://api.openf1.org/v1/stints?driver_number=16&session_key=9468')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
df.head(10)

,meeting_key,session_key,stint_number,driver_number,lap_start,lap_end,compound,tyre_age_at_start
0,1229,9468,1,16,1,4,MEDIUM,0
1,1229,9468,2,16,5,8,SOFT,0
2,1229,9468,3,16,8,9,SOFT,0
3,1229,9468,4,16,9,12,SOFT,3
4,1229,9468,5,16,12,15,SOFT,0
5,1229,9468,6,16,15,16,SOFT,1
6,1229,9468,7,16,17,20,SOFT,0

In [35]:
response = urlopen('https://api.openf1.org/v1/laps?driver_number=16&session_key=9468')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
print("Minimum Lap Duration:")
print(df['lap_duration'].min())

Minimum Lap Duration:
89.165

Now I'll see how that relates to the starting position for the actual race.

In [64]:
response = urlopen('https://api.openf1.org/v1/laps?session_key=9468')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)

# find all drivers in qualifying round
all_drivers = df['driver_number'].unique()

min_laps_list = []


for d_id in all_drivers:
    sub_df = df[df['driver_number']==d_id]
    min_lap = (sub_df['lap_duration'].min())
    # print(d_id, min_lap)
    min_laps_list.append(["9468",str(d_id), min_lap])

min_laps_df = pd.DataFrame(min_laps_list, columns=['session_key', 'driver_number','min_lap_duration'])
min_laps_df = min_laps_df.sort_values(by='min_lap_duration')
print(min_laps_df)

   session_key driver_number  min_lap_duration
1         9468            16            89.165
16        9468             1            89.179
17        9468            63            89.485
0         9468            55            89.507
19        9468            11            89.537
15        9468            14            89.542
14        9468             4            89.614
12        9468            81            89.683
18        9468            44            89.710
6         9468            27            89.851
13        9468            18            89.965
8         9468            22            90.129
4         9468            23            90.221
5         9468             3            90.278
10        9468            20            90.529
11        9468            77            90.756
9         9468            24            90.757
7         9468             2            90.770
2         9468            31            90.793
3         9468            10            90.948

## Position Query

In [63]:
response = urlopen('https://api.openf1.org/v1/position?session_key=9472')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)

# 20 drivers starting positions
df = df.iloc[0:19,]
df  = df.sort_values(by='position')
df.head(20)

,session_key,meeting_key,driver_number,date,position
0,9472,1229,1,2024-03-02T14:03:47.739000+00:00,1
7,9472,1229,16,2024-03-02T14:03:47.739000+00:00,2
17,9472,1229,63,2024-03-02T14:03:47.739000+00:00,3
16,9472,1229,55,2024-03-02T14:03:47.739000+00:00,4
5,9472,1229,11,2024-03-02T14:03:47.739000+00:00,5
6,9472,1229,14,2024-03-02T14:03:47.739000+00:00,6
3,9472,1229,4,2024-03-02T14:03:47.739000+00:00,7
15,9472,1229,44,2024-03-02T14:03:47.739000+00:00,9
13,9472,1229,27,2024-03-02T14:03:47.739000+00:00,10
10,9472,1229,22,2024-03-02T14:03:47.739000+00:00,11
8,9472,1229,18,2024-03-02T14:03:47.739000+00:00,12
11,9472,1229,23,2024-03-02T14:03:47.739000+00:00,13
2,9472,1229,3,2024-03-02T14:03:47.739000+00:00,14
9,9472,1229,20,2024-03-02T14:03:47.739000+00:00,15
18,9472,1229,77,2024-03-02T14:03:47.739000+00:00,16
12,9472,1229,24,2024-03-02T14:03:47.739000+00:00,17
1,9472,1229,2,2024-03-02T14:03:47.739000+00:00,18
14,9472,1229,31,2024-03-02T14:03:47.739000+00:00,19
4,9472,1229,10,2024-03-02T14:03:47.739000+00:00,20

# Car Data

contains an excessive number of observations for even a single driver in a single session

we will need to do individual queries for the car data, rather than subset

In [65]:
response = urlopen('https://api.openf1.org/v1/car_data?driver_number=16&session_key=9472')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
print(len(df))

34795

# Pit Duration

In [85]:
response = urlopen('https://api.openf1.org/v1/pit?driver_number=16&session_key=9468')
data = json.loads(response.read().decode('utf-8'))
df = pd.json_normalize(data)
print(df.head(10))

num_pits = len(df)
avg_pit_time = round(df['pit_duration'].mean(),1)
print(num_pits)
print(avg_pit_time)

   session_key  meeting_key                              date  driver_number  \
0         9468         1229  2024-03-01T16:00:16.840000+00:00             16
1         9468         1229  2024-03-01T16:07:46.707000+00:00             16
2         9468         1229  2024-03-01T16:15:38.681000+00:00             16
3         9468         1229  2024-03-01T16:27:49.089000+00:00             16
4         9468         1229  2024-03-01T16:36:28.710000+00:00             16
5         9468         1229  2024-03-01T16:49:19.625000+00:00             16
6         9468         1229  2024-03-01T16:57:29.033000+00:00             16

   pit_duration  lap_number
0           NaN           1
1         132.4           4
2         149.6           7
3         604.4           8
4         189.9          11
5         430.6          14
6         175.6          17
7
280.4