# Racing Profile

Thinking about all the features that would go into a single observation. 
Observation unit: driver
Dependent variable: Grand Prix finishing position

Independent variables:

    * Features from Practice 1-3 and Qualifying Sessions

    * Features from Practice 1-3 and Qualifying - Following features for each session (x4)

        * Min/Max/Avg lap times
        * Number of stints (stint_number max)
        * Sum of # of practice laps?
        * Summary stats for each lap? or stint? (brake, rpm, throttle, speed, drs) (min/max/avg)
            * max brake, min/max/avg rpm, max/avg throttle, min/max/avg speed
        * (Maybe) Number of gear changes (n_gear) 
        * Avg Pit duration
        * Number of Pits
        * Weather

In [144]:
#| label: import
from urllib.request import urlopen
from urllib.error import URLError, HTTPError
import pandas as pd
import json
from datetime import datetime
import time
import signal

query_base = "https://api.openf1.org/v1/"

In [127]:
query_meetings = query_base+"meetings?year>2023"

response = urlopen(query_meetings)
data = json.loads(response.read().decode('utf-8'))
meetings_df = pd.json_normalize(data)

print(meetings_df)

    circuit_key  circuit_short_name  meeting_key meeting_code  \
0            63              Sakhir         1229          BRN
1           149              Jeddah         1230          KSA
2            10           Melbourne         1231          AUS
3            46              Suzuka         1232          JPN
4            49            Shanghai         1233          CHN
5           151               Miami         1234          USA
6             6               Imola         1235          ITA
7            22         Monte Carlo         1236          MON
8            23            Montreal         1237          CAN
9            15           Catalunya         1238          ESP
10           19           Spielberg         1239          AUT
11            2         Silverstone         1240          GBR
12            4         Hungaroring         1241          HUN
13            7   Spa-Francorchamps         1242          BEL
14           55           Zandvoort         1243          NED
15           39               Monza         1244          ITA
16          144                Baku         1245          AZE
17           61           Singapore         1246          SGP
18            9              Austin         1247          USA
19           65         Mexico City         1248          MEX
20           14          Interlagos         1249          BRA
21          152           Las Vegas         1250          USA
22          150              Lusail         1251          QAT
23           70  Yas Marina Circuit         1252          UAE
24           63              Sakhir         1253          BRN
25           10           Melbourne         1254          AUS
26           49            Shanghai         1255          CHN
27           46              Suzuka         1256          JPN

             location  country_key country_code          country_name  \
0              Sakhir           36          BRN               Bahrain
1              Jeddah          153          KSA          Saudi Arabia
2           Melbourne            5          AUS             Australia
3              Suzuka            4          JPN                 Japan
4            Shanghai           53          CHN                 China
5               Miami           19          USA         United States
6               Imola           13          ITA                 Italy
7              Monaco          114          MON                Monaco
8            Montréal           46          CAN                Canada
9           Barcelona            1          ESP                 Spain
10          Spielberg           17          AUT               Austria
11        Silverstone            2          GBR         Great Britain
12           Budapest           14          HUN               Hungary
13  Spa-Francorchamps           16          BEL               Belgium
14          Zandvoort          133          NED           Netherlands
15              Monza           13          ITA                 Italy
16               Baku           30          AZE            Azerbaijan
17         Marina Bay          157          SGP             Singapore
18             Austin           19          USA         United States
19        Mexico City            8          MEX                Mexico
20          São Paulo           10          BRA                Brazil
21          Las Vegas           19          USA         United States
22             Lusail          149          QAT                 Qatar
23         Yas Island           21          UAE  United Arab Emirates
24             Sakhir           36          BRN               Bahrain
25          Melbourne            5          AUS             Australia
26           Shanghai           53          CHN                 China
27             Suzuka            4          JPN                 Japan

                 meeting_name  \
0          Bahrain Grand Prix
1    Saudi Arabian Grand Prix
2       Australian Grand Prix
3         Japanese Grand Prix
4          Chinese Grand Prix
5            Miami Grand Prix
6   Emilia Romagna Grand Prix
7           Monaco Grand Prix
8         Canadian Grand Prix
9          Spanish Grand Prix
10        Austrian Grand Prix
11         British Grand Prix
12       Hungarian Grand Prix
13         Belgian Grand Prix
14           Dutch Grand Prix
15         Italian Grand Prix
16      Azerbaijan Grand Prix
17       Singapore Grand Prix
18   United States Grand Prix
19     Mexico City Grand Prix
20       São Paulo Grand Prix
21       Las Vegas Grand Prix
22           Qatar Grand Prix
23       Abu Dhabi Grand Prix
24         Pre-Season Testing
25      Australian Grand Prix
26         Chinese Grand Prix
27        Japanese Grand Prix

                                meeting_official_name gmt_offset  \
0          FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2024   03:00:00
1         FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2024   03:00:00
2          FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2024   11:00:00
3      FORMULA 1 MSC CRUISES JAPANESE GRAND PRIX 2024   09:00:00
4            FORMULA 1 LENOVO CHINESE GRAND PRIX 2024   08:00:00
5          FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2024  -04:00:00
6   FORMULA 1 MSC CRUISES GRAN PREMIO DEL MADE IN ...   02:00:00
7                 FORMULA 1 GRAND PRIX DE MONACO 2024   02:00:00
8             FORMULA 1 AWS GRAND PRIX DU CANADA 2024  -04:00:00
9         FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2024   02:00:00
10   FORMULA 1 QATAR AIRWAYS AUSTRIAN GRAND PRIX 2024   02:00:00
11    FORMULA 1 QATAR AIRWAYS BRITISH GRAND PRIX 2024   01:00:00
12                FORMULA 1 HUNGARIAN GRAND PRIX 2024   02:00:00
13            FORMULA 1 ROLEX BELGIAN GRAND PRIX 2024   02:00:00
14           FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2024   02:00:00
15        FORMULA 1 PIRELLI GRAN PREMIO D’ITALIA 2024   02:00:00
16  FORMULA 1 QATAR AIRWAYS AZERBAIJAN GRAND PRIX ...   04:00:00
17  FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND P...   08:00:00
18    FORMULA 1 PIRELLI UNITED STATES GRAND PRIX 2024  -05:00:00
19  FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2024  -06:00:00
20   FORMULA 1 LENOVO GRANDE PRÊMIO DE SÃO PAULO 2024  -03:00:00
21  FORMULA 1 HEINEKEN SILVER LAS VEGAS GRAND PRIX...  -08:00:00
22      FORMULA 1 QATAR AIRWAYS QATAR GRAND PRIX 2024   03:00:00
23  FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX ...   04:00:00
24           FORMULA 1 ARAMCO PRE-SEASON TESTING 2025   03:00:00
25  FORMULA 1 LOUIS VUITTON AUSTRALIAN GRAND PRIX ...   11:00:00
26         FORMULA 1 HEINEKEN CHINESE GRAND PRIX 2025   08:00:00
27          FORMULA 1 LENOVO JAPANESE GRAND PRIX 2025   09:00:00

                   date_start  year
0   2024-02-29T11:30:00+00:00  2024
1   2024-03-07T13:30:00+00:00  2024
2   2024-03-22T01:30:00+00:00  2024
3   2024-04-05T02:30:00+00:00  2024
4   2024-04-19T03:30:00+00:00  2024
5   2024-05-03T16:30:00+00:00  2024
6   2024-05-17T11:30:00+00:00  2024
7   2024-05-24T11:30:00+00:00  2024
8   2024-06-07T17:30:00+00:00  2024
9   2024-06-21T11:30:00+00:00  2024
10  2024-06-28T10:30:00+00:00  2024
11  2024-07-05T11:30:00+00:00  2024
12  2024-07-19T11:30:00+00:00  2024
13  2024-07-26T11:30:00+00:00  2024
14  2024-08-23T10:30:00+00:00  2024
15  2024-08-30T11:30:00+00:00  2024
16  2024-09-13T09:30:00+00:00  2024
17  2024-09-20T09:30:00+00:00  2024
18  2024-10-18T17:30:00+00:00  2024
19  2024-10-25T18:30:00+00:00  2024
20  2024-11-01T14:30:00+00:00  2024
21  2024-11-22T02:30:00+00:00  2024
22  2024-11-29T13:30:00+00:00  2024
23  2024-12-06T09:30:00+00:00  2024
24  2025-02-26T07:00:00+00:00  2025
25  2025-03-14T01:30:00+00:00  2025
26  2025-03-21T03:30:00+00:00  2025
27  2025-04-04T02:30:00+00:00  2025

In [128]:
# convert meetings to a list
meeting_list = meetings_df['meeting_key'].to_list()

# create meeting session list
valid_meeting_sessions = []

# loop through each meeting
for meeting in meeting_list:
    query_sessions = query_base + "sessions?meeting_key=" + str(meeting)

    response = urlopen(query_sessions)
    data = json.loads(response.read().decode('utf-8'))
    sessions_df = pd.json_normalize(data)
    
    # check for the 3 practice rounds, qualifier, and race
    session_types = set(sessions_df['session_type'].unique())  # Get unique session types for the meeting

    required_session_types = {'Practice', 'Qualifying', 'Race'}

    # we need 3 Practice sessions, 1 Qualifying, and 1 Race
    practice_sessions = [session for session in sessions_df['session_type'] if session == 'Practice']
    qualifying_sessions = [session for session in sessions_df['session_type'] if session == 'Qualifying']
    race_sessions = [session for session in sessions_df['session_type'] if session == 'Race']

    # check if the meeting has exactly 3 practice sessions, 1 qualifying, and 1 race
    if len(practice_sessions) == 3 and len(qualifying_sessions) == 1 and len(race_sessions) == 1:

        # loop through the valid sessions and add to a list
        for session in sessions_df.itertuples():
            valid_meeting_sessions.append({
                'meeting_key': meeting,
                'session_key': session.session_key,
                'session_type': session.session_type })

# convner to a DF 
valid_sessions_df = pd.DataFrame(valid_meeting_sessions)

print(valid_sessions_df)

    meeting_key  session_key session_type
0          1229         9465     Practice
1          1229         9466     Practice
2          1229         9467     Practice
3          1229         9468   Qualifying
4          1229         9472         Race
..          ...          ...          ...
95         1256         9999     Practice
96         1256        10000     Practice
97         1256        10001     Practice
98         1256        10002   Qualifying
99         1256        10006         Race

[100 rows x 3 columns]

In [129]:
## create a data frame of all the session_keys that are the actual races
# these will be used to get the label (final race position) later
race_session_df = valid_sessions_df[valid_sessions_df['session_type']=="Race"]

print(race_session_df.head())
print(len(race_session_df))

# now get the list of viable meetings to loop through
valid_meeting_list = race_session_df['meeting_key'].to_list()

print(valid_meeting_list)
print(len(valid_meeting_list))

    meeting_key  session_key session_type
4          1229         9472         Race
9          1230         9480         Race
14         1231         9488         Race
19         1232         9496         Race
24         1235         9515         Race
20
[1229, 1230, 1231, 1232, 1235, 1236, 1237, 1238, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1248, 1250, 1252, 1254, 1256]
20

In [140]:

## loop through all the valid meeting keys
def get_data(meeting):
    # initalize list to appene data to
    data_list = []  

    # get session numbers for practice and qualifiying
    query_sessions = query_base+"sessions?meeting_key="+str(meeting)

    response = urlopen(query_sessions)
    data = json.loads(response.read().decode('utf-8'))
    sessions_df = pd.json_normalize(data)

    # get just the session keys 
    sessions = list(sessions_df['session_key'])
    # get race session num
    race_session_num = sessions[4]

    # remove the real race
    del sessions[-1]
    # print(sessions)
    # we will loop through the sessions later

    ## query the drivers for each race session so that we know they raced in the grand prix
    query_drivers = query_base+"drivers?session_key="+str(race_session_num)

    response = urlopen(query_drivers)
    data = json.loads(response.read().decode('utf-8'))
    drivers_df = pd.json_normalize(data)

    # get all the driver numbers to loop through later
    drivers = list(drivers_df['driver_number'])

    # print(drivers)

    # add sleep time to not overload requests
    time.sleep(0.5)

    ## Loop through the drivers
    for driver in drivers:
        # create list to hold the observation
        driver_feats = [meeting, driver]

        driver_number = str(driver)

        ## Loop through all the sessions
        for session in sessions:
            # creat list to store all data for this session
            session_feats = []

            # LAPS QUERY
            query_laps = query_base+"laps?driver_number="+driver_number+"&session_key="+str(session)

            try:
                # Call API and convert to DataFrame
                response = urlopen(query_laps)
                data = json.loads(response.read().decode('utf-8'))
                laps_df = pd.json_normalize(data)
                
                # Check if the DataFrame is empty (no laps data returned)
                if laps_df.empty:
                    print(f"No data returned for driver {driver} and session {session}. Skipping.")
                    continue  # Skip to the next session


                # extract lap infor for current session
                min_lap = laps_df['lap_duration'].min()
                max_lap = laps_df['lap_duration'].max()
                avg_lap = float(round(laps_df['lap_duration'].mean(),3))
                num_laps = laps_df['lap_number'].max()

                # PARSE THE LAPS DATA BY TIME
                # laps_times_df will be used for car_data queries
                lap_times = laps_df[['lap_number','date_start','lap_duration']].copy()

                # strip the time zone since its the same for all sessions
                lap_times['date_start'] = lap_times['date_start'].str.replace(r':\+.*$', '', regex=True)

                # Convert date_start to datetime if it's not already in datetime format
                lap_times['date_start'] = pd.to_datetime(lap_times['date_start'], errors='coerce')

                # use the next lap start as the end time exept for the last lap, which will be calculated with lap duration
                lap_times['date_end'] = lap_times['date_start'].shift(-1).fillna(lap_times['date_start'] + pd.to_timedelta(lap_times['lap_duration'], unit='s'))

                # convert back to string
                lap_times['date_start'] = lap_times['date_start'].dt.strftime('%Y-%m-%dT%H:%M:%S.%f') + lap_times['date_start'].dt.strftime('%z').str[:3] + ':' + lap_times['date_start'].dt.strftime('%z').str[3:]
                lap_times['date_end'] = lap_times['date_end'].dt.strftime('%Y-%m-%dT%H:%M:%S.%f') + lap_times['date_end'].dt.strftime('%z').str[:3] + ':' + lap_times['date_end'].dt.strftime('%z').str[3:]


                # find the lap number for their best lap
                min_lap_num = laps_df[laps_df['lap_duration']==min_lap]['lap_number'].to_list()[0]

            except (HTTPError, URLError) as e:
                # Handle the error if the API call fails
                print(f"Error occurred for driver {driver} and session {session}: {e}. Skipping this session.")

            # CONDUCT A CAR DATA QUERY ON THE MINIMUM LAP
            # base car data query for time filter to be added to
            query_car_base = query_base+"car_data?driver_number="+driver_number+"&session_key="+str(session)

            # create staret and end time for car data query
            start_time = lap_times[lap_times['lap_number']==min_lap_num]['date_start'].to_list()[0]
            end_time = lap_times[lap_times['lap_number']==min_lap_num]['date_end'].to_list()[0]

            # query for lap specific times
            query_car = query_car_base + "&date>="+str(start_time)+"&date<="+str(end_time)

            try:
                # call api for car data with lap time query
                response = urlopen(query_car)
                data = json.loads(response.read().decode('utf-8'))
                car_df = pd.json_normalize(data)
                
                # Check if the DataFrame is empty (no laps data returned)
                if car_df.empty:
                    print(f"No data returned for driver {driver} and session {session}. Skipping.")
                    continue  # Skip to the next session

                # get summary stats for the lap
                max_brake = car_df['brake'].max()
                max_rpm = car_df['rpm'].max()
                min_rpm = car_df['rpm'].min()
                avg_rpm = round(car_df['rpm'].mean())
                max_throttle = car_df['throttle'].max()
                avg_throttle = float(round(car_df['throttle'].mean()))
                min_speed = car_df['speed'].min()
                max_speed = car_df['speed'].max()
                avg_speed = round(car_df['speed'].mean())

                # create list of car_data stats per lap
                min_lap_stats = [max_brake, min_rpm, max_rpm, avg_rpm, max_throttle, avg_throttle, min_speed, max_speed, avg_speed]

            except (HTTPError, URLError) as e:
                # Handle the error if the API call fails
                print(f"Error occurred for driver {driver} and session {session}: {e}. Skipping this session.")

            # STINTS QUERY FOR NUMBER OF STINTS
            query_stints = query_base + "stints?driver_number="+driver_number+"&session_key="+str(session)

            try:
                # call api and convert to df
                response = urlopen(query_stints)
                data = json.loads(response.read().decode('utf-8'))
                stints_df = pd.json_normalize(data)

                if stints_df.empty:
                    print(f"No data returned for driver {driver} and session {session}. Skipping.")
                    continue  # Skip to the next session

                # extract max stint number
                num_stints = stints_df['stint_number'].max()

            except (HTTPError, URLError) as e:
                # Handle the error if the API call fails
                print(f"Error occurred for driver {driver} and session {session}: {e}. Skipping this session.")


            # PTIS QUERY
            query_pits = query_base + "pit?driver_number="+driver_number+"&session_key="+str(session)

            try:
                # call api and convert to df
                response = urlopen(query_pits)
                data = json.loads(response.read().decode('utf-8'))
                pits_df = pd.json_normalize(data)

                if pits_df.empty:
                    print(f"No data returned for driver {driver} and session {session}. Skipping.")
                    continue  # Skip to the next session

                # extract num of pits and avg pit duration
                num_pits = len(pits_df)
                avg_pit_time = float(round(pits_df['pit_duration'].mean(),1))

            except (HTTPError, URLError) as e:
                # Handle the error if the API call fails
                print(f"Error occurred for driver {driver} and session {session}: {e}. Skipping this session.")

            # WEATHER QUERY
            query_wx = query_base + "weather?&session_key="+str(session)

            try:
                # call api and convert to df
                response = urlopen(query_wx)
                data = json.loads(response.read().decode('utf-8'))
                weather_df = pd.json_normalize(data)

                if weather_df.empty:
                    print(f"No data returned for driver {driver} and session {session}. Skipping.")
                    continue  # Skip to the next session

                ### parse weather data
                did_rain = weather_df['rainfall'].max()
                max_wind = weather_df['wind_speed'].max()
                avg_air_temp = float(round(weather_df['air_temperature'].mean(),3))
                avg_track_temp = float(round(weather_df['track_temperature'].mean(),3))

                wx_stats = [did_rain, max_wind, avg_air_temp, avg_track_temp]

            except (HTTPError, URLError) as e:
                # Handle the error if the API call fails
                print(f"Error occurred for driver {driver} and session {session}: {e}. Skipping this session.")

            # AFTER ALL QUERIES PER SESSION
            # append to driver features list
            session_feats = [min_lap, max_lap, avg_lap, num_laps, num_stints] + [num_pits, avg_pit_time] + wx_stats + min_lap_stats 

            driver_feats.extend(session_feats)
        
        # print(driver_feats)
        data_list.append(driver_feats)
        # add sleep time to not overload requests
        time.sleep(2)
    print("completed meeting:"+str(meeting))
    return data_list

In [137]:
get_data(valid_meeting_list[1])

No data returned for driver 38 and session 9473. Skipping.
No data returned for driver 38 and session 9474. Skipping.
completed meeting:1230

[[1,
  89.659,
  806.932,
  159.431,
  24,
  3,
  3,
  536.3,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6509,
  12018,
  10801,
  100,
  81.0,
  88,
  333,
  246,
  89.158,
  624.73,
  144.354,
  27,
  4,
  4,
  310.3,
  0,
  4.1,
  25.371,
  30.597,
  100,
  5758,
  11929,
  10825,
  100,
  82.0,
  80,
  330,
  247,
  88.412,
  1284.065,
  215.065,
  13,
  2,
  2,
  1182.1,
  0,
  5.8,
  25.984,
  39.559,
  100,
  5751,
  11935,
  10861,
  100,
  82.0,
  84,
  335,
  249,
  87.472,
  1026.91,
  207.627,
  18,
  6,
  6,
  345.7,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6356,
  12191,
  10932,
  100,
  84.0,
  88,
  331,
  254],
 [2,
  90.966,
  457.346,
  136.172,
  27,
  3,
  3,
  341.2,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6212,
  12062,
  10765,
  100,
  79.0,
  86,
  327,
  242,
  89.934,
  569.212,
  143.761,
  27,
  4,
  4,
  297.5,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6099,
  12176,
  10762,
  100,
  80.0,
  84,
  329,
  242,
  147.994,
  147.994,
  147.994,
  2,
  1,
  1,
  nan,
  0,
  5.8,
  25.984,
  39.559,
  100,
  3778,
  12212,
  8094,
  100,
  37.0,
  34,
  327,
  148,
  89.526,
  242.809,
  126.848,
  9,
  2,
  2,
  127.4,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6418,
  12577,
  10840,
  100,
  80.0,
  86,
  330,
  245],
 [3,
  90.917,
  874.249,
  151.203,
  25,
  4,
  4,
  328.6,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6502,
  12214,
  10863,
  100,
  78.0,
  90,
  332,
  241,
  90.088,
  472.777,
  131.918,
  29,
  3,
  3,
  296.8,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6606,
  12214,
  10753,
  100,
  77.0,
  89,
  331,
  242,
  89.74,
  1498.874,
  214.142,
  15,
  4,
  4,
  477.8,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6822,
  12027,
  10774,
  100,
  78.0,
  94,
  334,
  244,
  89.025,
  1002.249,
  211.564,
  12,
  4,
  4,
  390.0,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6647,
  12616,
  10872,
  100,
  79.0,
  90,
  332,
  247],
 [4,
  90.231,
  696.215,
  149.352,
  26,
  4,
  4,
  334.0,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6356,
  12186,
  10811,
  99,
  81.0,
  87,
  327,
  243,
  89.758,
  820.798,
  171.061,
  23,
  5,
  5,
  343.3,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6388,
  12145,
  10819,
  99,
  78.0,
  88,
  325,
  245,
  88.971,
  1429.58,
  314.214,
  11,
  3,
  3,
  977.8,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6439,
  11795,
  10727,
  99,
  79.0,
  89,
  329,
  248,
  88.132,
  694.223,
  190.841,
  22,
  6,
  6,
  484.1,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6573,
  11847,
  10713,
  99,
  83.0,
  90,
  326,
  252],
 [10,
  91.046,
  933.591,
  159.338,
  25,
  3,
  3,
  578.7,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6233,
  11994,
  10768,
  100,
  79.0,
  88,
  323,
  240,
  89.528,
  626.932,
  136.837,
  29,
  3,
  3,
  424.7,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6048,
  12044,
  10784,
  100,
  80.0,
  84,
  330,
  246,
  89.546,
  1052.972,
  220.809,
  13,
  3,
  3,
  675.3,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6328,
  11853,
  10819,
  100,
  80.0,
  87,
  331,
  244,
  89.479,
  246.392,
  118.868,
  9,
  2,
  2,
  149.7,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6531,
  11948,
  10795,
  100,
  80.0,
  89,
  327,
  246],
 [11,
  89.868,
  909.357,
  170.67,
  23,
  5,
  5,
  328.2,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6495,
  11793,
  10717,
  100,
  81.0,
  87,
  334,
  244,
  89.3,
  782.279,
  145.938,
  27,
  4,
  4,
  375.0,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6177,
  11896,
  10659,
  100,
  81.0,
  86,
  328,
  245,
  88.906,
  1344.486,
  227.547,
  13,
  2,
  2,
  1233.5,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6221,
  12091,
  10787,
  100,
  81.0,
  85,
  335,
  247,
  87.807,
  1010.243,
  210.819,
  19,
  7,
  7,
  379.3,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6336,
  12108,
  10835,
  100,
  81.0,
  88,
  332,
  249],
 [14,
  89.845,
  656.236,
  148.202,
  24,
  3,
  3,
  510.0,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6322,
  11887,
  10734,
  100,
  81.0,
  86,
  322,
  244,
  88.827,
  596.624,
  136.715,
  28,
  3,
  3,
  433.4,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6451,
  12221,
  10809,
  100,
  81.0,
  87,
  330,
  248,
  89.038,
  1197.383,
  272.643,
  14,
  4,
  4,
  693.5,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6426,
  11984,
  10776,
  100,
  80.0,
  88,
  333,
  246,
  87.846,
  1060.673,
  242.751,
  17,
  5,
  5,
  544.6,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6694,
  11843,
  10822,
  100,
  81.0,
  90,
  329,
  248],
 [16,
  90.03,
  832.062,
  162.989,
  24,
  4,
  4,
  370.5,
  0,
  6.8,
  26.058,
  35.126,
  100,
  7509,
  11950,
  10832,
  100,
  81.0,
  84,
  329,
  241,
  89.18,
  712.401,
  155.104,
  25,
  5,
  5,
  271.7,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6701,
  12149,
  10848,
  100,
  81.0,
  87,
  331,
  247,
  88.608,
  982.957,
  207.677,
  16,
  4,
  4,
  719.1,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6715,
  12238,
  10921,
  100,
  82.0,
  92,
  335,
  250,
  87.791,
  636.95,
  179.428,
  23,
  6,
  6,
  422.9,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6750,
  12228,
  10902,
  100,
  83.0,
  89,
  330,
  250],
 [18,
  90.58,
  1500.122,
  220.209,
  18,
  3,
  3,
  946.4,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6263,
  11947,
  10609,
  99,
  79.0,
  83,
  321,
  242,
  89.336,
  694.745,
  144.362,
  27,
  4,
  4,
  322.0,
  0,
  4.1,
  25.371,
  30.597,
  100,
  5892,
  11982,
  10635,
  99,
  81.0,
  81,
  330,
  247,
  89.127,
  1210.185,
  277.187,
  14,
  4,
  4,
  703.7,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6196,
  11988,
  10707,
  100,
  81.0,
  85,
  332,
  246,
  88.25,
  994.057,
  215.471,
  19,
  6,
  6,
  384.0,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6145,
  11862,
  10771,
  99,
  83.0,
  85,
  329,
  251],
 [20,
  91.577,
  1067.518,
  210.143,
  18,
  3,
  3,
  813.3,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6691,
  12181,
  10828,
  100,
  78.0,
  90,
  333,
  242,
  89.985,
  865.575,
  162.484,
  24,
  3,
  3,
  613.0,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6658,
  12289,
  10839,
  100,
  79.0,
  87,
  334,
  246,
  89.485,
  1214.244,
  220.066,
  12,
  3,
  3,
  565.1,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6277,
  12241,
  10879,
  100,
  79.0,
  85,
  337,
  245,
  89.02,
  588.649,
  179.859,
  17,
  5,
  5,
  448.4,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6645,
  12441,
  10936,
  100,
  80.0,
  89,
  334,
  247],
 [22,
  91.036,
  959.695,
  154.041,
  25,
  2,
  2,
  850.5,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6390,
  12264,
  10849,
  100,
  79.0,
  89,
  330,
  241,
  89.666,
  477.876,
  136.04,
  28,
  3,
  3,
  360.8,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6609,
  12244,
  10869,
  100,
  79.0,
  91,
  332,
  245,
  89.572,
  1037.329,
  184.513,
  18,
  4,
  4,
  381.5,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6716,
  12105,
  10848,
  100,
  78.0,
  91,
  334,
  243,
  88.547,
  1031.819,
  210.99,
  18,
  6,
  6,
  332.4,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6347,
  12175,
  10830,
  100,
  79.0,
  88,
  331,
  247],
 [23,
  90.747,
  590.1,
  148.405,
  26,
  3,
  3,
  473.2,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6044,
  12197,
  10736,
  100,
  79.0,
  84,
  328,
  241,
  89.789,
  695.353,
  140.503,
  28,
  4,
  4,
  306.4,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6369,
  12395,
  10732,
  100,
  79.0,
  89,
  326,
  247,
  89.808,
  1052.864,
  244.455,
  13,
  3,
  3,
  1059.6,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6225,
  12404,
  10760,
  100,
  80.0,
  86,
  329,
  244,
  88.98,
  551.909,
  187.069,
  16,
  5,
  5,
  420.2,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6592,
  12438,
  10813,
  100,
  81.0,
  88,
  329,
  249],
 [24,
  91.131,
  696.733,
  165.555,
  24,
  4,
  4,
  390.7,
  0,
  6.8,
  26.058,
  35.126,
  100,
  7196,
  12003,
  10770,
  100,
  81.0,
  92,
  330,
  244,
  89.777,
  654.405,
  147.056,
  27,
  3,
  3,
  491.8,
  0,
  4.1,
  25.371,
  30.597,
  100,
  7008,
  11960,
  10608,
  100,
  79.0,
  92,
  330,
  243,
  90.739,
  836.272,
  189.584,
  11,
  3,
  3,
  376.4,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6811,
  11939,
  10677,
  100,
  81.0,
  89,
  330,
  243,
  121.101,
  121.101,
  121.101,
  2,
  1,
  1,
  nan,
  0,
  2.9,
  25.106,
  30.786,
  100,
  5983,
  12318,
  9170,
  100,
  47.0,
  69,
  321,
  181],
 [27,
  91.411,
  1068.39,
  207.283,
  19,
  4,
  4,
  590.5,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6448,
  12399,
  10834,
  100,
  80.0,
  86,
  331,
  242,
  90.077,
  692.502,
  149.859,
  26,
  4,
  4,
  355.6,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6513,
  12107,
  10861,
  100,
  78.0,
  87,
  334,
  245,
  89.675,
  1567.561,
  260.424,
  11,
  3,
  3,
  736.2,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6573,
  12247,
  10857,
  100,
  80.0,
  91,
  337,
  246,
  89.055,
  587.351,
  185.141,
  10,
  3,
  3,
  333.0,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6342,
  12444,
  10877,
  100,
  81.0,
  85,
  335,
  246],
 [31,
  90.945,
  660.87,
  146.165,
  27,
  4,
  4,
  317.6,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6227,
  11839,
  10679,
  100,
  81.0,
  85,
  324,
  241,
  89.901,
  689.779,
  144.463,
  27,
  3,
  3,
  465.8,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6404,
  11933,
  10778,
  100,
  82.0,
  87,
  330,
  246,
  89.575,
  1406.26,
  221.511,
  13,
  3,
  3,
  661.1,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6262,
  11907,
  10754,
  100,
  79.0,
  86,
  333,
  245,
  89.475,
  243.225,
  119.332,
  10,
  2,
  2,
  143.9,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6360,
  12003,
  10676,
  100,
  80.0,
  87,
  330,
  244],
 [38,
  89.306,
  1233.471,
  180.01,
  22,
  4,
  4,
  517.7,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6553,
  12209,
  10856,
  100,
  82.0,
  85,
  333,
  246,
  88.642,
  532.965,
  165.616,
  18,
  5,
  5,
  371.0,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6923,
  12267,
  10874,
  100,
  83.0,
  88,
  332,
  249],
 [44,
  90.236,
  1014.896,
  186.911,
  21,
  5,
  5,
  359.8,
  0,
  6.8,
  26.058,
  35.126,
  104,
  6540,
  12188,
  10818,
  104,
  82.0,
  90,
  332,
  246,
  89.504,
  745.462,
  178.039,
  22,
  4,
  4,
  437.1,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6825,
  12030,
  10831,
  100,
  81.0,
  91,
  331,
  245,
  89.268,
  1735.658,
  201.858,
  19,
  4,
  4,
  554.3,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6633,
  12227,
  10901,
  100,
  81.0,
  87,
  335,
  247,
  88.46,
  504.875,
  171.034,
  24,
  7,
  7,
  340.3,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6834,
  12357,
  10922,
  100,
  82.0,
  93,
  331,
  248],
 [63,
  89.939,
  777.271,
  169.07,
  23,
  4,
  4,
  419.0,
  0,
  6.8,
  26.058,
  35.126,
  100,
  7666,
  12421,
  10951,
  100,
  81.0,
  86,
  331,
  242,
  89.057,
  689.806,
  159.595,
  24,
  5,
  5,
  270.9,
  0,
  4.1,
  25.371,
  30.597,
  104,
  6621,
  12320,
  10869,
  100,
  80.0,
  90,
  334,
  245,
  88.964,
  913.817,
  217.102,
  17,
  3,
  3,
  1433.0,
  0,
  5.8,
  25.984,
  39.559,
  100,
  7217,
  12702,
  10933,
  100,
  80.0,
  85,
  336,
  249,
  88.316,
  517.131,
  183.608,
  22,
  7,
  7,
  362.5,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6472,
  12400,
  10975,
  100,
  80.0,
  88,
  332,
  247],
 [77,
  90.783,
  757.77,
  150.881,
  26,
  4,
  4,
  341.8,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6979,
  12233,
  10751,
  100,
  81.0,
  94,
  328,
  242,
  90.153,
  659.62,
  147.872,
  27,
  4,
  4,
  327.5,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6340,
  12198,
  10690,
  100,
  80.0,
  85,
  330,
  243,
  90.083,
  883.42,
  200.082,
  21,
  4,
  4,
  832.1,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6621,
  12233,
  10651,
  100,
  79.0,
  92,
  333,
  243,
  89.179,
  270.984,
  124.206,
  9,
  2,
  2,
  165.0,
  0,
  2.9,
  25.106,
  30.786,
  100,
  7017,
  12143,
  10786,
  100,
  82.0,
  93,
  330,
  248],
 [81,
  90.977,
  1157.148,
  177.045,
  22,
  4,
  4,
  502.1,
  0,
  6.8,
  26.058,
  35.126,
  100,
  6431,
  11952,
  10688,
  99,
  80.0,
  89,
  319,
  240,
  89.594,
  616.497,
  144.284,
  27,
  5,
  5,
  261.5,
  0,
  4.1,
  25.371,
  30.597,
  100,
  6642,
  12055,
  10762,
  100,
  80.0,
  91,
  325,
  247,
  89.213,
  1379.064,
  256.448,
  11,
  3,
  3,
  721.9,
  0,
  5.8,
  25.984,
  39.559,
  100,
  6178,
  12123,
  10773,
  99,
  80.0,
  87,
  329,
  248,
  88.089,
  658.408,
  192.254,
  22,
  6,
  6,
  493.8,
  0,
  2.9,
  25.106,
  30.786,
  100,
  6233,
  12044,
  10739,
  100,
  82.0,
  87,
  326,
  250]]

In [ ]:
colnames = ['meeting_key', 'driver_num',
            'min_lap_p1', 'max_lap_p1', 'avg_lap_p1', 'num_laps_p1', 'num_stints_p1', 'num_pits_p1', 'avg_pit_time_p1',
           'max_brake_p1', 'min_rpm_p1', 'max_rpm_p1', 'avg_rpm_p1', 'max_throttle_p1', 'avg_throttle_p1', 'min_speed_p1',
           'max_speed_p1', 'avg_speed_p1', 'did_rain_p1', 'max_wind_p1', 'avg_air_temp_p1', 'avg_track_temp_p1',
           'min_lap_p2', 'max_lap_p2', 'avg_lap_p2', 'num_laps_p2', 'num_stints_p2', 'num_pits_p2', 'avg_pit_time_p2',
           'max_brake_p2', 'min_rpm_p2', 'max_rpm_p2', 'avg_rpm_p2', 'max_throttle_p2', 'avg_throttle_p2', 'min_speed_p2',
           'max_speed_p2', 'avg_speed_p2', 'did_rain_p2', 'max_wind_p2', 'avg_air_temp_p2', 'avg_track_temp_p2',
           'min_lap_p3', 'max_lap_p3', 'avg_lap_p3', 'num_laps_p3', 'num_stints_p3', 'num_pits_p3', 'avg_pit_time_p3',
           'max_brake_p3', 'min_rpm_p3', 'max_rpm_p3', 'avg_rpm_p3', 'max_throttle_p3', 'avg_throttle_p3', 'min_speed_p3',
           'max_speed_p3', 'avg_speed_p3','did_rain_p3', 'max_wind_p3', 'avg_air_temp_p3', 'avg_track_temp_p3', 
           'min_lap_q', 'max_lap_q', 'avg_lap_q', 'num_laps_q', 'num_stints_q','num_pits_q', 'avg_pit_time_q',
           'max_brake_q', 'min_rpm_q', 'max_rpm_q', 'avg_rpm_q', 'max_throttle_q', 'avg_throttle_q', 'min_speed_q', 
           'max_speed_q', 'avg_speed_q','did_rain_q', 'max_wind_q', 'avg_air_temp_q', 'avg_track_temp_q']

# Function to handle the timeout
def handler(signum, frame):
    raise TimeoutError("Timeout exceeded")

In [ ]:
sub_valid_meeting_list = valid_meeting_list[1:2]




# Setting up the signal handler
signal.signal(signal.SIGALRM, handler)

# Define timeout (in seconds)
timeout = 10  

for meeting_key in sub_valid_meeting_list:
    d_list = get_data(meeting_key)
    df = pd.DataFrame(d_list, columns=colnames)

    file_name = 'data/racing_profiles'+str(meeting_key)+'.csv'
    print("Saved file for meeting_key"+str(meeting_key))

No data returned for driver 38 and session 9473. Skipping.
No data returned for driver 38 and session 9474. Skipping.
completed meeting:1230

ValueError: 81 columns passed, passed data had 82 columns

## Indiviudal Driver Profile

Loop to create an individual driver observation

In [ ]:
# set the driver number
driver_number = str(16)

# create list of features for a individual driver
driver_feats = [driver_number]

# list of sessions
session_sub = [9473, 9474, 9475, 9476]


for session in session_sub:
    # creat list to store all data for this session
    session_feats = []

    # LAPS QUERY
    query_laps = query_base+"laps?driver_number="+driver_number+"&session_key="+str(session)

    # call api and convert to df
    response = urlopen(query_laps)
    data = json.loads(response.read().decode('utf-8'))
    laps_df = pd.json_normalize(data)

    # extract lap infor for current session
    min_lap = laps_df['lap_duration'].min()
    max_lap = laps_df['lap_duration'].max()
    avg_lap = float(round(laps_df['lap_duration'].mean(),3))
    num_laps = laps_df['lap_number'].max()

    # PARSE THE LAPS DATA BY TIME
    # laps_times_df will be used for car_data queries
    lap_times = laps_df[['lap_number','date_start','lap_duration']].copy()

    # strip the time zone since its the same for all sessions
    lap_times['date_start'] = lap_times['date_start'].str.replace(r':\+.*$', '', regex=True)

    # Convert date_start to datetime if it's not already in datetime format
    lap_times['date_start'] = pd.to_datetime(lap_times['date_start'], errors='coerce')

    # use the next lap start as the end time exept for the last lap, which will be calculated with lap duration
    lap_times['date_end'] = lap_times['date_start'].shift(-1).fillna(lap_times['date_start'] + pd.to_timedelta(lap_times['lap_duration'], unit='s'))

    # convert back to string
    lap_times['date_start'] = lap_times['date_start'].dt.strftime('%Y-%m-%dT%H:%M:%S.%f') + lap_times['date_start'].dt.strftime('%z').str[:3] + ':' + lap_times['date_start'].dt.strftime('%z').str[3:]
    lap_times['date_end'] = lap_times['date_end'].dt.strftime('%Y-%m-%dT%H:%M:%S.%f') + lap_times['date_end'].dt.strftime('%z').str[:3] + ':' + lap_times['date_end'].dt.strftime('%z').str[3:]


    # find the lap number for their best lap
    min_lap_num = laps_df[laps_df['lap_duration']==min_lap]['lap_number'].to_list()[0]

    # CONDUCT A CAR DATA QUERY ON THE MINIMUM LAP
    # base car data query for time filter to be added to
    query_car_base = query_base+"car_data?driver_number="+driver_number+"&session_key="+str(session)

    # create staret and end time for car data query
    start_time = lap_times[lap_times['lap_number']==min_lap_num]['date_start'].to_list()[0]
    end_time = lap_times[lap_times['lap_number']==min_lap_num]['date_end'].to_list()[0]

    # query for lap specific times
    query_car = query_car_base + "&date>="+str(start_time)+"&date<="+str(end_time)

    # call api for car data with lap time query
    response = urlopen(query_car)
    data = json.loads(response.read().decode('utf-8'))
    car_df = pd.json_normalize(data)


    # get summary stats for the lap
    max_brake = car_df['brake'].max()
    max_rpm = car_df['rpm'].max()
    min_rpm = car_df['rpm'].min()
    avg_rpm = round(car_df['rpm'].mean())
    max_throttle = car_df['throttle'].max()
    avg_throttle = float(round(car_df['throttle'].mean()))
    min_speed = car_df['speed'].min()
    max_speed = car_df['speed'].max()
    avg_speed = round(car_df['speed'].mean())

    # create list of car_data stats per lap
    min_lap_stats = [max_brake, min_rpm, max_rpm, avg_rpm, max_throttle, avg_throttle, min_speed, max_speed, avg_speed]


    # STINTS QUERY FOR NUMBER OF STINTS
    query_stints = query_base + "stints?driver_number="+driver_number+"&session_key="+str(session)

    # call api and convert to df
    response = urlopen(query_stints)
    data = json.loads(response.read().decode('utf-8'))
    stints_df = pd.json_normalize(data)

    # extract max stint number
    num_stints = stints_df['stint_number'].max()


    # PTIS QUERY
    query_pits = query_base + "pit?driver_number="+driver_number+"&session_key="+str(session)

    # call api and convert to df
    response = urlopen(query_pits)
    data = json.loads(response.read().decode('utf-8'))
    pits_df = pd.json_normalize(data)

    # extract num of pits and avg pit duration
    num_pits = len(pits_df)
    avg_pit_time = float(round(pits_df['pit_duration'].mean(),1))

    # WEATHER QUERY
    query_wx = query_base + "weather?&session_key="+str(session)

    # call api and convert to df
    response = urlopen(query_wx)
    data = json.loads(response.read().decode('utf-8'))
    weather_df = pd.json_normalize(data)

    ### parse weather data

    did_rain = weather_df['rainfall'].max()
    max_wind = weather_df['wind_speed'].max()
    avg_air_temp = float(round(weather_df['air_temperature'].mean(),3))
    avg_track_temp = float(round(weather_df['track_temperature'].mean(),3))

    wx_stats = [did_rain, max_wind, avg_air_temp, avg_track_temp]

    # AFTER ALL QUERIES PER SESSION
    # append to driver features list
    session_feats = [min_lap, max_lap, avg_lap, num_laps, num_stints] + [num_pits, avg_pit_time] + wx_stats + min_lap_stats 

    driver_feats.extend(session_feats)



print(driver_feats)

['16', 90.03, 832.062, 162.989, 24, 4, 4, 370.5, 0, 6.8, 26.058, 35.126, 100, 7509, 11950, 10832, 100, 81.0, 84, 329, 241, 89.18, 712.401, 155.104, 25, 5, 5, 271.7, 0, 4.1, 25.371, 30.597, 100, 6701, 12149, 10848, 100, 81.0, 87, 331, 247, 88.608, 982.957, 207.677, 16, 4, 4, 719.1, 0, 5.8, 25.984, 39.559, 100, 6715, 12238, 10921, 100, 82.0, 92, 335, 250, 87.791, 636.95, 179.428, 23, 6, 6, 422.9, 0, 2.9, 25.106, 30.786, 100, 6750, 12228, 10902, 100, 83.0, 89, 330, 250]

In [ ]:
print(len(driver_feats))
print(type(driver_feats))

print(driver_feats)



print(len(colnames))

81
<class 'list'>
['16', 93.268, 888.191, 161.351, 24, 4, 4, 370.1, 100, 5550, 12128, 10177, 99, 70, 66, 312, 207, 0, 4.7, np.float64(19.373), np.float64(34.216), 91.113, 590.536, 148.184, 26, 4, 4, 319.0, 100, 5682, 12129, 10354, 100, 74, 69, 316, 214, 0, 4.0, np.float64(18.658), np.float64(26.748), 91.094, 789.228, 191.598, 17, 4, 4, 408.3, 100, 5411, 12053, 10301, 100, 74, 67, 314, 212, 0, 4.0, np.float64(20.26), np.float64(32.013), 89.165, 736.725, 202.377, 19, 7, 7, 280.4, 100, 5703, 12137, 10371, 99, 74, 65, 319, 216, 0, 3.1, np.float64(18.049), np.float64(21.514)]
81